<style type="text/css">
.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>

<div class="container" style="margin-top:1%;">
    <div class = "content-section text-center">    
        <h1>Welcome to Hackathon Organizer</h1>
        <p class="font-italic" style="color: #2c3e50;">With this app has never been easier to organize your hackathon</p>

        <h3>Recently Posted Hackathon</h3>
          <div class="row">    
              <% @hackathons.each do |hackathon| %>
               <div class="col-md-4">     
                  <div class="thumbnail">
                    
                    <% if hackathon.avatar? %>
                      <%= image_tag hackathon.avatar.url(:medium) %>
                    <% else %>
                      <img src="http://placehold.it/300x200" alt="">
                    <% end %>
                    <hr >
                      <div class="caption">
                        <p style="margin-top: -3%;">A hackathon on</p>
                        <h4 style="margin-top: -2%;" class="text"><%= hackathon.title %></h4>
                        <p class="text"><%= hackathon.topic %></p>
                         <strong>Start Date: </strong><%= hackathon.start_date%><br />
                         <strong >Venue: </strong><%= hackathon.hackathon_venue%> <br />
                        <div style="margin-top: 2%;">
                        <%= link_to 'Show', homepage_url(hackathon.id), class:"btn btn-success btn-xs" %>
                           <%= link_to 'Follow', homepage_url(hackathon.id), class:"btn btn-primary btn-xs" %>
                        </div>
                    </div>
                  </div>         
               </div>
                <% end %>
        </div>    
        
    </div> 
    </div> 