<div class="container">
  <div class="jumbotron" style="margin-top: 2%; ">
     <p class="text-center"> A Hackathon on</p>
     <h2><%= @hackathon.title%></h2>
     <h4 class="text-center"><%= @hackathon.topic%></h4>
    </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn-lg btn-danger" style="width: 100%;">Join Event</button>
    
      <div class="thumbnail" style="margin-top: 3%;">
      <div class="caption">
        <h3>Event Dates </h3>
          <p><strong>Start Date:</strong> <%= @hackathon.start_date%></p>
          <p><strong>End Date:</strong> <%= @hackathon.end_date%></p>
      </div>
    </div>
     <div class="thumbnail" style="">
      <div class="caption">
        <h3>Organizer</h3>
       
       
      </div>
    </div>
        <div class="thumbnail" style="">
      <div class="caption">
        <h3>Total No of Teams</h3>
        <%= @hackathon.number_of_participants%>
       
      </div>
    </div>
    </div>
    <div class="col-md-8">
       
      <div class="thumbnail" style="">
      <div class="caption">
        <h3>Event Description</h3>
        <%= @hackathon.description%>
       
      </div>
    </div>
    <div class="thumbnail" style="">
      <div class="caption">
        <h3>Venue</h3>
        <%= @hackathon.hackathon_venue%>
       
      </div>
    </div>

    <%= link_to 'Go To Main Page', root_path, class: "btn-sm btn-primary   "%>
    </div>
    
  </div>
  </div>
</div>

