<% provide(:title, @user.user_name) %>
<%unless @user.admin?%>
<div class="container">
<div class="row">
  <aside class="col-md-3">
    <section class="stats col-md-offset-4">
      <h1>
        <%= @user.user_name %>
      </h1>
      </br>
    </section>
    <section class="stats col-md-offset-4">
      <p>
        <%= @user.description %>
      </p>
      </br>
    </section>
    <section class="stats col-md-offset-4" >
      <%= render 'common/stats' %>
      </br>
    </section>
    <% if current_user?(@user)%>
    <section class = "col-md-offset-4">
      <%= link_to "My Hackathons", hackathons_path, class: "btn btn-info" %>
      
    </section>
    
    <section class = "col-md-offset-4">
      </br>
      <%= link_to 'Create New Hackathon', new_hackathon_path, class: "btn btn-info" %>
      
    </section>
    <% end %>
    <section  class = "col-md-offset-4">
    </br>
      <%= render 'follow_form' if logged? %>
    </section>
  </aside>
  <div class="col-md-4">
    
    <div>
      <h2>List of Hackathons the user is registered</h2>
    </div>
  </div>
  
</div>
</div>
<% else %>
<div class="container">
<div class="row col-md-12">
<h1 style = "text-align: center;">
  ADMIN PANEL
</h1>
</div>
<div class="row">

  <div class="col-md-8">
    <h3 style = "text-align: left;">
      List of Hackathons | <%= @hackathons.count %>
    </h3>
    </br>
    <ul style="list-style-type:none;">
    <% @hackathons.each do |hackathon| %>
      <li>
        <%= link_to hackathon.title, homepage_url(hackathon.id), class: "btn btn-info"%> |
        <%= link_to 'Destroy', hackathon, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
      </br>
    <% end %>
    </ul>
    <%= will_paginate %>
  </div>
  <div class="col-md-4">
    <h3>
      List of Users | <%= @users.count %>
    </h3>
    </br>
    <ul style="list-style-type:none;">
    <% @users.each do |user| %>
    <% unless user.admin? %>
    <li>
        <%= link_to user.user_name, user, class: "btn btn-info" %>
        
        <% if current_user.admin? && !current_user?(user) %> |
        <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "Are you sure?" } %>
        <% end %>
      
    </li>
    </br>
    <% end %>
    <% end %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
</div>
<% end %>
