<div class=" col-md-offset-3">
<p id="notice"><%= notice %></p>

<h2 style= "text-align:left;">
  
  <% if current_user.admin? && !current_user?(@user) %>
  Hello 
    <strong>ADMIN. </strong>
</h2>
    <p>
      Welcome to <strong><%= @user.user_name %> </strong>profile!
    </p>
  <%else%>
<h2 style= "text-align:left;">
  Hello
  <strong>
  <%= @user.user_name %>.
  </strong>
  
</h2>

  <p>
    <strong>Welcome to your profile!</strong>
  </p>

  
<div class="col-md-4">
  <%= link_to "My Hackathons", hackathons_path, class: "btn btn-primary" %>
</div>
<div class="col-md-4">
  <%= link_to "Search", users_path, class: "btn btn-primary" %>
</div>
<div class="col-md-4">
  <a class="btn btn-primary" href="#">Followers</a>
</div>
</br></br>
</br></br>
</br></br>

<h2>Coming soon</h2>
<h3>List of Hackathons that <%= @user.user_name %>. is registered!</h3>
<h3>List of Users that <%= @user.user_name %> is registered</h3>

  <% end %>

<!--
<p>
  <strong>Passworld:</strong>
  <%= @user.passworld %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
-->
</br>
</br>
</br>

<% if current_user.admin? && !current_user?(@user) %>
    Do you want to <%= link_to "DELETE", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>, this user?
<% end %>
</div>