<div class=" col-md-offset-3">
<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<!--
<p>
  <strong>Passworld:</strong>
  <%= @user.passworld %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
-->
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% if current_user.admin? && !current_user?(@user) %>
    | <%= link_to "delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>
</div>