

<p>
<b>title:</b>
<%= @hackathon.title%>
</p>

<p>
<b>topic:</b>
<%= @hackathon.topic %>
</p>

<p>
<b>description:</b>
<%= @hackathon.description%>
</p>

<p>
<b>owner:</b>
<%= @hackathon.owner %>
</p>
<p>
<b>List of Proposals:</b>
<% @hackathon.proposals.each do |proposal| %>
   <br>|
   <%= link_to proposal.title, proposal_path(proposal) %>
   <td class="btn btn-default btn-sm">
<%= link_to like_proposal_path(proposal), method: :put do %> 
<span class="glyphicon glyphicon-thumbs-up">Like (<%= proposal.get_upvotes.size %>)</span> 
    
<% end %>
</td>
<td class="btn btn-default btn-sm">
  
<%= link_to dislike_proposal_path(proposal), method: :put do %>
    <span class="glyphicon glyphicon-thumbs-down">Dislike (<%= proposal.get_downvotes.size %>)</span> 
    
<% end %>
</td>
 <% end %>
</p>

<p>

<%= link_to 'Back', hackathons_path %>
</p>
