
<!-- <p id="notice"><%= notice %></p> -->


<% if logged? %>
<div class="container">
  <div class="jumbotron" style="margin-top: 2%; height: 50%;">
    <h2><%= @hackathon.title%></h2>
    </div>

  <div class="row">

    <div class="col-md-4">
      <button type="button" class="btn-lg btn-danger" style="width: 100%;">Join Event</button>
    
      <div class="thumbnail" style="margin-top: 3%;">
      <div class="caption">
        <h3>Event Dates </h3>
          <p><strong>Start Date:</strong> <%= @hackathon.start_date%></p>
          <p><strong>End Date:</strong> <%= @hackathon.end_date%></p>
      </div>
    </div>
     <div class="thumbnail" style="">
      <div class="caption">
        <h3>Organizer</h3>
        <%= @current_user.user_name%>
       
      </div>
    </div>
        <div class="thumbnail" style="">
      <div class="caption">
        <h3>Total No of Teams</h3>
        <%= @hackathon.number_of_participants%>
       
      </div>
    </div>
    </div>
    <div class="col-md-8">
       
      <div class="thumbnail" style="">
      <div class="caption">
        <h3>Event Description</h3>
        <%= @hackathon.description%>
       
      </div>
    </div>
    <div class="thumbnail" style="">
      <div class="caption">
        <h3>Venue</h3>
        <%= @hackathon.hackathon_venue%>
       
      </div>
    </div>

    <%= link_to 'Edit Hackathon', edit_hackathon_path(@hackathon), class: "btn-sm btn-success" %>
    <%= link_to 'Go To Main Page', hackathons_path, class: "btn-sm btn-primary   "%>
    </div>
    
  </div>
  </div>
</div>

=======
<p>
  <strong>Title:</strong>
  <%= @hackathon.title %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @hackathon.topic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hackathon.description %>
</p>
<p>
  <strong>Venue:</strong>
  <%= @hackathon.hackathon_venue %>
</p>

<p>
  <strong>Date:</strong>
  <%= @hackathon.start_date%> - <%= @hackathon.end_date%>
</p>
<p>
  <b>List of Proposals:</b>
  <% @hackathon.proposals.each do |proposal| %>
   <br>|
   <%= link_to proposal.title, proposal_path(proposal) %>
   <td class="btn btn-default btn-sm">
  <%= link_to like_proposal_path(proposal), method: :put do %> 
  <span class="glyphicon glyphicon-thumbs-up">Like (<%= proposal.get_upvotes.size %>)</span> 
    
  <% end %>
  </td>
  <td class="btn btn-default btn-sm">
  
  <%= link_to dislike_proposal_path(proposal), method: :put do %>
  <span class="glyphicon glyphicon-thumbs-down">Dislike (<%= proposal.get_downvotes.size %>)</span> 
    
  <% end %>
  </td>
  <% end %>
</p>

<p>
  <strong>Number of Participants:</strong>
  <%= @hackathon.number_of_participants %>
</p>
<% else %>
<script type="text/javascript">
    alert("You must be logged in to view this page")
    window.location.href="/login" 
</script>

<% end %>
