
<!-- <p id="notice"><%= notice %></p> -->
<% if logged? %>
<p>
  <strong>Title:</strong>
  <%= @hackathon.title %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @hackathon.topic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hackathon.description %>
</p>
<p>
  <strong>Venue:</strong>
  <%= @hackathon.hackathon_venue %>
</p>

<p>
  <strong>Date:</strong>
  <%= @hackathon.start_date%> - <%= @hackathon.end_date%>
</p>

<p>
  <strong>Number of Participants:</strong>
  <%= @hackathon.number_of_participants %>
</p>

<%= link_to 'Edit', edit_hackathon_path(@hackathon) %> |
<%= link_to 'Back', hackathons_path %>
<% else %>
<script type="text/javascript">
    alert("You must be logged in to view this page")
    window.location.href="/login" 
</script>

<% end %>