
<script type="text/javascript">
function joinevent(){
        
        $.ajax({
            url: '/hackathons/joinevent',
            type: 'POST',
            data: {'HkId': '<%=@hackathon.id%>'},
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            success: function(r){
              if (r.code == 'p' || r.code =='u'){
                $('#je').hide();
                $('#jes').show();
                $("#jes").width('67%');
              }
              alert(r.message);

         }
        });
}
</script>

<div class="container">
  <div class="jumbotron" style="margin-top: 2%; height: 50%;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="text-center"> A Hackathon on</p>
          <h2><%= @hackathon.title%></h2>
          <h4 class="text-center"><%= @hackathon.topic%></h4>
        </div>
        <% if @hackathon.twitter_link? %>
          <button class="btn btn-primary"><%= link_to " Follow us ", @hackathon.twitter_link, :class => "fa fa fa-twitter", style: "color: white" %></button>
        <% end %>
      </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <%= csrf_meta_tag %>
      <button id="je" type="button" onclick="joinevent();" class="joinevent btn-lg btn-danger" style="width: 100%;">Join Event</button>
      <button id="jes" style="display:none; width: 100% important! " type="button" onclick="joinevent();" class="joinevent btn-lg btn-primary" > Joined </button>
    
      <div class="thumbnail" style="margin-top: 3%;">
      <div class="caption">
        <h3>Event Dates </h3>
          <p><strong>Start Date:</strong> <%= @hackathon.start_date%></p>
          <p><strong>End Date:</strong> <%= @hackathon.end_date%></p>
      </div>
    </div>
     <div class="thumbnail" style="">
      <div class="caption">
        <h3>Organizer</h3>
        <%= @hackathon.owner%>
       
      </div>
    </div>
        <div class="thumbnail" style="">
      <div class="caption">
        <h3>No of groups</h3>
        <%= @hackathon.number_of_participants%>
       
      </div>
    </div>
      <div class="thumbnail" style="">
      <div class="caption">
        <h3>Participants</h3>
        <% @user_list.each do |p| %>
          | <%= p %> 
        <% end %>
        <!-- <img src="" alt="Avatar" style="border-radius: 50%;"> -->
      </div>
    </div>
    </div>
    <div class="col-md-8">
       
      <div class="thumbnail" style="">
      <div class="caption">
        <h3>Event Description</h3>
        <%= @hackathon.description%>
       
      </div>
    </div>
    <div class="thumbnail" style="">
      <div class="caption">
        <h3>Venue</h3>
        <%= @hackathon.hackathon_venue%>
       
      </div>
    </div>


    <% if @customtable.ids.any?%>
       <div class="thumbnail" id="addinfo" style="">
        <div class="caption">
          <h3 style="margin-bottom: 1%;">Additional Information</h3>
          <% @customtable.each do |ct| %>
            <h5 style="color: #7f8c8d;">Q. <%= ct.question %> ?</h5>
            <i style="margin-left: 1%;">- <%= ct.answer %></i>
            <br />
          <% end %>
        </div>
      </div>
    <%end%>
    <div>
    

<% if logged? %>
  <% if @hackathon.user_id == current_user.id || current_user.admin? %>
    <%= link_to 'Edit Hackathon', edit_hackathon_path(@hackathon), class: "btn-sm btn-success" %>
  <% else %>
    <%= link_to 'Submit A Proposal', new_proposal_path(@hackathon.id), class: "btn-sm btn-success pull-right"%>
  <% end %>
<% end %>
    
    <%= link_to 'Vote for Proposals', proposals_path(@hackathon.id), class: "btn-sm btn-primary " %>
    <%= link_to 'All Posted Proposals', proposals_path(@hackathon.id), class: "btn-sm btn-primary " %>
    <!-- created by sajib -->
    <%= link_to 'Go To Main Page', root_url, class: "btn-sm btn-primary   "%>
    </div>
    
</div>
</div>


