<% if logged? %>
<p id="notice"><%= notice %></p>

<h1>Proposals Of The Hackathon</h1>

<table>
<thead>
<tr class="names">
  
  <th style="width:30%" >Title</th>
  <th style="width:30%" >Description</th>
  
  <th style="width:20%" >Show</th>


</tr>
</thead>

<tbody>
<% @hackathons= Hackathon.all %>
<% @hackathons.each do |hackathon| %>
  
<br>
<% @id=hackathon.id %>
<%end %>
<% @proposals= Proposal.all %>

<% @proposals.each do |proposal| %>
<% if @id==proposal.hackathon_id  then %>
<tr>
<td style="width:30%"><%= proposal.title%></td>
<td style="width:30%"><%= proposal.description%></td>

<td style="width:20%"><%= link_to 'Show', proposal_path(proposal) %></td>

<td  class="btn btn-default btn-sm">
<%= link_to like_proposal_path(proposal), method: :put do %> 
<span class="glyphicon glyphicon-thumbs-up">Like (<%= proposal.get_upvotes.size %>)</span> 
 
<% end %>
</td>

<td  class="btn btn-default btn-sm">

<%= link_to dislike_proposal_path(proposal), method: :put do %>
<span class="glyphicon glyphicon-thumbs-down">Dislike (<%= proposal.get_downvotes.size %>)</span> 
<!-- Votes for the Proposal -->
<!-- created by sajib -->
<% end %>
</td>
<%end %>

<%end%>
</tr>
</tbody>
</table>




<%= link_to 'New Proposal', new_proposal_path(@id) %>
<% end %>
