

<% if @proposal.errors.any? %>
<div style="background-color: #FF0000">
<p>
    Please fix the following errors:
</p>
<ul>
   <% @proposal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
   <% end %>
</ul>
</div>
<% end %>
<style type="text/css">
  
.abc{
  width: 20%;
  margin-right: 17%;
}

</style>
<% if logged? %>
<div class="container center">
<div class="jumbotron center" style="margin-top: 1%; margin-left: 20%; margin-right: 20%;">
<h3>Create New Proposal</h3>
<hr >
<%= form_for (@proposal), :html => {:class => "form-horizontal center"} do |f| %>
    <div class="form-group">
      <%= f.label :title, "Title:", class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :description, "Description:", class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :hackathon_id, :value => params[:format] %>
    
    <%= f.submit "Submit", class: "btn-sm btn-default btn-primary pull-right abc" %>  
    <%= link_to 'Go Back', proposals_path, class: "btn-sm btn-success pull-right abc" %>
</div>
<% end %>



</div>
<% else %>
<script type="text/javascript">
  alert("You must be logged in to create Hackathon")
  window.location.href="/login" 
</script>

<% end %>




