<h1> Advanced Search </h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


<style type="text/css">
    
.abc{
    width: 20%;
    margin-right: 17%;
}
</style>
<div class="container center">
<div class="jumbotron center" style="margin-top: 1%; margin-left: 20%; margin-right: 20%;">
<%= form_for @search, :html => {:class => "form-horizontal center"} do |s| %>
  <div class="form-group">
    <%= s.label :keywords, "Keywords:", class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= s.text_field :keywords, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= s.label :topic, "Topic:", class: "col-md-3 control-label" %>
    <div class="col-md-7">
    <%= s.select :topic, options_for_select(@topics),class: "form-control", :include_blank => true %>
      
    </div>
  </div>
  <div class="form-group">
    <%= s.label :is_private, "Private:", class: "col-md-3 control-label" %>
    <div class="col-md-7">
    <%= s.text_field :keywords, class: "form-control" %>
     
    </div>
  </div>






    <%= s.submit "Search", class: "btn-sm btn-default btn-primary pull-right abc"  %>  
    <%= link_to 'Go Back', hackathons_path, class: "btn-sm btn-success pull-right abc" %>
</div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: "YYYY-MM-DD hh:mm a Z"
        });
        $('#datetimepicker1').datetimepicker({
            format: "YYYY-MM-DD hh:mm a Z"
        });
    });
</script>
<!--
<%= form_for @search, html: {class: "pure-form"} do |s| %>

    <div class="field">
       <%= s.label :keywords %><br />
       <%= s.text_field :keywords %>
    </div>
    <div class="field">
       <%= s.label :topic %><br />
       <%= s.select :topic, options_for_select(@topics), :include_blank => true %>
    </div>
    <div class="field">
       <%= s.label :description %><br />
       <%= s.text_field :keywords %>
    </div>
    <div class="field">
       <%= s.label :hackathon_venue %><br />
       <%= s.text_field :keywords %>
    </div>
    <div class="field">
       <p><%= s.label :start_date, "Start Date" %> <%= s.text_field :start_date %></p>
    </div>


    <div class="field">
      <p><%= s.label :number_of_participants, "number_of_participants" %> - <%= s.text_field :number_of_participants, size: 10 %></p>

    </div>

    <div class="action"><%= s.submit "Search", class: "btn btn-primary" %>
    </div>
<% end %>
<p><%= link_to 'Back', hackathons_path %></p>

-->

