<h1> Search Results </h1>

<p><%= link_to 'Back', new_search_path %></p>
<% if @search.search_hackathons.empty? %>
  <p> No Records Found </p>
<% else %>
<% @search.search_hackathons.each do |c| %>
    <br>
    <div class="div">
     <h1><%= c.title %></h1>
     <p>Topic: <%= c.topic %></p>
     <p>Owner: <%= c.owner %></p>
     <p>number_of_participants: <%= c.number_of_participants %></p>
    </div>
<% end %>
<% end %>
